version: '3.8'

services:
  web:
    image: nginx:1.27.4-alpine
    container_name: web
    ports:
      - "8080:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
            - laravel
  
  back-end:
    build:
      context: .
      dockerfile: ./docker/dockerfile
    container_name: back-end
    working_dir: /var/www
    volumes:
      - .:/var/www
      - ./custom.ini:/usr/local/etc/php/conf.d/custom.ini
    networks:
            - laravel

  data-base:
    image: mysql:8.0
    container_name: data-base
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_DATABASE:-laravel}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:-root}
      MYSQL_PASSWORD: ${DB_PASSWORD:-userpass}
      MYSQL_USER: ${DB_USERNAME:-username}
    ports:
      - "3306:3306"
    volumes:
      - ./.docker/data-base/data:/var/lib/mysql
    networks:
            - laravel

  redis:
      image: redis:alpine
      container_name: laravel_redis
      restart: always
      ports:
        - "6379:6379"
      networks:
            - laravel

networks:
    laravel:
        driver: bridge