<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrada de Material</title>
    <link rel="stylesheet" href="/resources/views/Gabriel/Entrada/Entrada de Material.css">
</head>
<body>
    <header>
        <div class="menu">
            <button class="icon-button">
                <img src="/resources/views/Gabriel/caminhao-de-lixo.png" alt="Ícone" width="50">
              </button>               
            <button class="menu-item">Dashboard</button>
            <button class="menu-item">Histórico</button>
            <button class="menu-item active">Relatórios</button>
            <button class="menu-item">Usuários</button>
        </div>
        <div class="search-container">
            <input type="text" placeholder="Buscando por algo?">
            <div class="icons">
                <button class="icon-button" id="settings-btn">⚙️</button>
                <button class="icon-button" id="notifications-btn">
                    🔔 <span class="badge">2</span>
                </button>
            </div>
        </div>
    </header>

    <h1 class="title">Entrada de Material</h1>

    <div class="card-container">
        
        <div class="card dark">
            <form action="POST">
                <h2>Entrada de Material</h2>
                <div class="box">
                    <div class="form-group">
                        <label>Placa de Veiculo</label>
                        <input type="text" placeholder="Numero">
                    </div>
                    <div class="form-group">
                            
                    <label>Peso Inicial</label>
                        <input type="text" value="" placeholder="200kg">
                    </div>
                    <div class="form-group">
                        <label>Material</label>
                        <input type="text" placeholder="Papelão">
                    </div>
                    <div class="form-group">
                        <label>Subtítulo do Material</label>
                        <input type="text" placeholder="Reciclado">
                    </div>
                    <div class="form-group">
                        <label>Peso (kg)</label>
                        <input type="text" placeholder="222.222" >
                    </div>
                    <div class="form-group">
                        <label>Responsável</label>
                        <input type="text" placeholder="Responsável" >
                    </div>
                    <div class="form-group">
                        <label>Descrição</label>
                        <input type="text" placeholder="Descrição" >
                    </div>
                    <div class="form-group">
                        <label>Tipo</label>
                        <input type="text" placeholder="Tipo A" >
                    </div>
                    <div class="form-group">
                        <label>ID do Conteiner</label>
                        <input type="text" placeholder="CT-001">
                    </div>
                    <div class="form-group">
                        <label>Data de Armazenamento</label>
                        <input type="date" placeholder="2025-04-03" >
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn btn-danger">Limpar</button>
                    <button class="btn btn-success">Concluir</button>
                </div>
            </form>
        </div>

        <div class="card">
            <form action="POST">
                <h2>Entrada de Material</h2>
                <div class="box">
                    <div class="form-group">
                        <label>Placa de Veiculo</label>
                        <input type="text" placeholder="Numero">
                    </div>
                    <div class="form-group">
                            
                    <label>Peso Inicial</label>
                        <input type="text" value="" placeholder="200kg">
                    </div>
                    <div class="form-group">
                        <label>Material</label>
                        <input type="text" placeholder="Papelão">
                    </div>
                    <div class="form-group">
                        <label>Subtítulo do Material</label>
                        <input type="text" placeholder="Reciclado">
                    </div>
                    <div class="form-group">
                        <label>Peso (kg)</label>
                        <input type="text" placeholder="222.222" >
                    </div>
                    <div class="form-group">
                        <label>Responsável</label>
                        <input type="text" placeholder="Responsável" >
                    </div>
                    <div class="form-group">
                        <label>Descrição</label>
                        <input type="text" placeholder="Descrição" >
                    </div>
                    <div class="form-group">
                        <label>Tipo</label>
                        <input type="text" placeholder="Tipo A" >
                    </div>
                    <div class="form-group">
                        <label>ID do Conteiner</label>
                        <input type="text" placeholder="CT-001">
                    </div>
                    <div class="form-group">
                        <label>Data de Armazenamento</label>
                        <input type="date" placeholder="2025-04-03" >
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn btn-danger">Limpar</button>
                    <button class="btn btn-success">Concluir</button>
                </div>
            </form>
        </div>

        <div class="card hover">
            <form action="POST">
                <h2>Entrada de Material</h2>
                <div class="box">
                    <div class="form-group">
                        <label>Placa de Veiculo</label>
                        <input type="text" placeholder="Numero">
                    </div>
                    <div class="form-group">
                            
                    <label>Peso Inicial</label>
                        <input type="text" value="" placeholder="200kg">
                    </div>
                    <div class="form-group">
                        <label>Material</label>
                        <input type="text" placeholder="Papelão">
                    </div>
                    <div class="form-group">
                        <label>Subtítulo do Material</label>
                        <input type="text" placeholder="Reciclado">
                    </div>
                    <div class="form-group">
                        <label>Peso (kg)</label>
                        <input type="text" placeholder="222.222" >
                    </div>
                    <div class="form-group">
                        <label>Responsável</label>
                        <input type="text" placeholder="Responsável" >
                    </div>
                    <div class="form-group">
                        <label>Descrição</label>
                        <input type="text" placeholder="Descrição" >
                    </div>
                    <div class="form-group">
                        <label>Tipo</label>
                        <input type="text" placeholder="Tipo A" >
                    </div>
                    <div class="form-group">
                        <label>ID do Conteiner</label>
                        <input type="text" placeholder="CT-001">
                    </div>
                    <div class="form-group">
                        <label>Data de Armazenamento</label>
                        <input type="date" placeholder="2025-04-03" >
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn btn-danger">Limpar</button>
                    <button class="btn btn-success">Concluir</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>