body {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

main {
    padding: 20px;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.dashboard-row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}


.entrada-saida, 
.relatorios-recebidos, 
.peso-saida, 
.veiculos-entrada, 
.grafico-cartao {
    flex: 1;
    border-radius: 20px;
    padding: 20px;
}

.entrada-saida {
    background-color: rgb(15, 185, 37);
}

.relatorios-recebidos {
    background-color: #50e0f3;
}

.peso-saida {
    background-color: rgb(232, 53, 53);
}

.veiculos-entrada {
    background-color: rgb(167, 185, 189);
    height: 200px;
}

.grafico-cartao {
    background-color: #007bff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}


.entradas-img,
.relatorios-img,
.peso-img,
.veiculos-img {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.entradas-img h1,
.relatorios-img h1,
.peso-img h1,
.veiculos-img h1,
.grafico-titulo h1 {
    font-size: 18px;
    color: #ffffff;
    margin: 0;
    margin-top: 20px;
}

.img-entrada,
.img-relatorios,
.img-peso,
.img-veiculos,
.img-categoria {
    border-radius: 50%;
    border: 1px solid #000;
    object-fit: cover;
    width: 30px;
    height: 30px;
}

.entradas-hoje,
.relatorios-semana,
.entradas-peso,
.veiculos-atual {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 15px;
}

.entradas-hoje h1,
.relatorios-semana h1,
.entradas-peso h1,
.veiculos-atual h1 {
    font-size: 48px;
    color: #ffffff;
    margin: 0;
    line-height: 1;
}

.entradas-hoje p,
.relatorios-semana p,
.entradas-peso p,
.veiculos-atual p {
    
    font-size: 14px;
    opacity: 0.9;
}


.valores-horarios,
.valores-relatorios,
.valores-peso,
.valores-veiculos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    color: white;
}

.item, .item-peso {
    text-align: center;
    flex: 1;
}

.item h2, .item-peso h2 {
    font-size: 20px;
    margin: 0;
}

.item p, .item-peso p {
    font-size: 14px;
    opacity: 0.8;
    margin: 0;
}

.linha-vertical {
    width: 1px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
}


.info-grafico {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grafico-titulo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.legenda {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    margin-top: 50px;
}

.legenda li {
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 100px;
}

.cor {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 3px;
}

.cor1 { background-color: #33ccff; }
.cor2 { background-color: #e60000; }
.cor3 { background-color: #ffff00; }
.cor4 { background-color: #1a1a1a; }
.cor5 { background-color: #99ffcc; }
.cor6 { background-color: #cc6600; }
.cor7 { background-color: #ff9900; }

canvas#graficoRosca {
    width: 180px !important;
    height: 180px !important;
}


.ver-mais {
    display: block;
    background-color: rgb(39, 174, 6);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 30px auto 0;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.ver-mais:hover {
    background-color: rgb(26, 216, 16);
}

