<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="/resources/views/Gabriel/cadastro/cadastro.css">
</head>
<body>
    <div class="caixa">
        <div class="login-area">
            <h2><strong>Cadastro</strong></h2>
            <form>
                <div class="campo">
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="usuario@email.com" required>
                </div>
                <br>
                <div class="campo">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" placeholder="Digite sua senha" required>
                </div>
                <br>
                <button type="submit" class="botao">Entrar</button>
            </form>
            <a href="#" class="esqueci" id="btnEsqueci">Ja tenho um conta</a>
        </div>
        <div class="imagem">
            <img src="/resources/views/Gabriel/WhatsApp Image 2025-04-04 at 09.47.50.jpeg" alt="Descrição da imagem">

        </div>
    </div>