.pagination button {
    border: none;
    background: white;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }

  #alet{
    display: flex;
    justify-content: center;
  }

  .pagination button:hover {
    background: #e0e0e0;
  }

  .pagination button.active {
    background: green;
    color: white;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .modal.hidden {
    display: none;
  }

  .modal-content {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .modal-content input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .modal-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .modal-buttons #cancelarBtn {
    background: #ccc;
    color: white;
  }

  .modal-buttons .confirmar {
    background: green;
    color: white;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-toggle {
    background: none;
    border: none;
    cursor: pointer;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 10;
    top: 100%;
    right: 0;
  }

  .dropdown[open] .dropdown-menu {
    display: block;
  }

  .editar-btn {
    background: green;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .editar-btn:hover {
    background: darkgreen;
  }
